<html>
  <title>Symbol2Symbol</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="max-snippet:-1,max-image-preview:standard,max-video-preview:-1" />

  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://obey.github.io/symbol2symbol/" />
  <meta property="fb:image" content="" />

  <meta property="og:image" content="" />
  <meta property="og:image:width" content="330" />
  <meta property="og:image:height" content="330" />
  <meta property="og:site_name" content="" />
  <!--  -->
  <meta property="og:asset" content="" />
  <meta property="og:title" content="Symbol2Symbol" />
  <meta property="og:description" content="" />

  <link href="style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <link href="https://shop.zabor-ss.ru/new/depend/noui1551/dist/nouislider.css" rel="stylesheet">
  <script src="https://shop.zabor-ss.ru/new/depend/noui1551/dist/nouislider.js"></script>
  <link rel="stylesheet" href="https://shop.zabor-ss.ru/js_css/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <style>
    .bw {

      filter: grayscale(100%);
    }

  </style>

  <body ng-app="myApp" ng-controller="myCtrl" class="container-fluid p-1 m-1 text-center bg-tr">


    <div class="w-100 d-flex text-left mx-auto " style="max-width: 600px;">
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0" nonce="GVqoxSLn"></script>

      <div class="fb-like bw mt-2" data-href="https://obey.github.io/symbol2symbol/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
    </div>

    <div class="p-1 mx-auto text-center mt-1 mb-2" ng-show="str!=''" style="max-width: 600px;">
      <div id="slider"></div>
    </div>


    <div class="container p-2 mx-auto text-center" style="font-size: {{fs}}px; min-height: 100px;">
      <p id="ERE" class="p-4 m-4"></p>
    </div>




    <nav ng-mouseout="masonIt();">
      <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="bi bi-house"></i></button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="bi bi-share"></i></button>


        <span class="d-none"> {{ host = 'https://shop.zabor-ss.ru/CHARS2SYMBOL/'; }} </span>
        <!-- <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="bi bi-table"></i></button>  -->
      </div>
    </nav>
    <div class="tab-content bg-hftr" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

        <div class="input-group rounded py-3 mx-auto" style="font-size: 18px; max-width: 600px; ">
          <textarea ng-model="str" class="form-control text-center border rounded bg-tr"></textarea>
        </div>

        <div class="container d-flex " style="max-width: 600px; ">
          <div class=" p-2 m-2 mx-auto" style="font-size: 14px">
            <button ng-show="curArr.length != 0" class="btn btn-danger px-4 my-2 ms-auto shadow-sm" type="button" ng-click="curArr = curLigF = []; str = ''; finstr = ''; ">💥</button>
            <button class="btn btn-primary px-4 my-2 shadow-sm" type="button" ng-click="finstr = replaceIt(str); ">🗯️</button>
          </div>
        </div>

        <button class="btn btn-secondary d-none" type="button" ng-click="boldIt(); ">!</button>
        <span ng-hide="!show">
          <p id="HERE">{{finstr}}</p>
        </span>
        <div class="container-fluid  d-flex flex-wrap  justify-content-center">
          <div ng-class="{'bg-light': cur.fix}" ng-if="cur.what != ' ' " ng-repeat="cur in curArr  track by $index" class="vstack gap-1 border rounded p-1 m-1" style="max-width: 80px;">
            <div class="bg-light border d-none">{{ cur.what }}</div>
            <div class="btn-group dropdown">
              <button style="font-size: 18px;" type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{ cur.with }}</button>
              <ul class="dropdown-menu">
                <li ng-repeat="new in cur.arr  track by $index"><button class="dropdown-item" type="button" ng-click="cur.with=new; cur.fix = true;">{{new}}</button></li>
              </ul>
            </div>
            <div class="form-check form-switch mx-auto">
              <input ng-model="cur.fix" class="form-check-input" type="checkbox" role="switch" id="ult_{{$index}}">
              <!-- <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label> -->
            </div>
          </div>
        </div>

      </div>
      <div class="tab-pane fade p-3" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

        <style>
          .grid-item {
            padding-bottom: 10px;
          }

        </style>
        <div class=" grid p-2 m-0 text-auto" style=" ">
          <div ng-repeat="fb in fbArr" class="fb-post grid-item bw" data-href="{{fb.url}}" data-width="{{ dw }}" data-show-text="true" data-lazy="true">
          </div>
          <div class="grid-item">
            <iframe src="https://yoomoney.ru/quickpay/shop-widget?writer=seller&targets=%E0%A4%97%E2%AD%AE%CE%A1%E1%8E%BD%E2%B3%9C%E1%88%88%EA%99%94&targets-hint=&default-sum=367&button-text=14&hint=&successURL=&quickpay=shop&account=410015042183703&" width="{{ dw }}"" height=" 222" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
          </div>
        </div>


      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">


      </div>
    </div>





    <div class="fb-comments  bw mx-auto mt-3" data-lazy="true" data-href="https://obey.github.io/symbol2symbol/" data-numposts="5">
    </div>











  </body>


  <script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope, $http, $filter) {

      function onlyUnique(value, index, self) {
        return self.indexOf(value) === index;
      }


      var uniqWhat = function(arr) {
        let whatArr = [];
        let finArr = [];

        arr.forEach(function(el, i, aarr) {
          if (!whatArr.includes(el.what)) {
            whatArr.push(el.what);
            finArr.push(el);
          }
        });
        return finArr;
      }

      var RND = (to) => Math.floor(Math.random() * to);

      $scope.ligArr = $scope.chArr = [];

      let url = 'https://shop.zabor-ss.ru/CHARS2SYMBOL/chars.json?new=' + RND(22);
      $http.get(url).then(function(response) {
        $scope.chArr = response.data;
      });
      url = 'https://shop.zabor-ss.ru/CHARS2SYMBOL/ligatur.json?new=' + RND(22);
      $http.get(url).then(function(response) {
        $scope.ligArr = response.data;
      });
      url = 'https://shop.zabor-ss.ru/CHARS2SYMBOL/posts.json?new=' + RND(42);
      $http.get(url).then(function(response) {
        $scope.fbArr = response.data;
      });
      $scope.dw = 350;
      $scope.fs = 28;
      $scope.str = "";
      $scope.curArr = [];
      // $scope.curLig = [];  
      $scope.curLigF = [];


      $scope.$watch('str', function() {



        $scope.strSplit = $scope.str.toLowerCase().split("").filter((el) => el.what != " ").map((el) => el = el).filter(onlyUnique);

        $scope.strSplit.map(function(el, i) {
          if (!$scope.curArr.find((cur, i) => cur.what == el)) $scope.curArr.push({
            what: el,
            with: el,
            fix: false
          });
        });

        $scope.curArr.map((el, i) => el.arr = $scope.chArr.find((row) => row.what.includes(el.what))?.with);


        // лигатуры
        $scope.ligArr.map(function(el, i) {

          let q1 = $scope.str.toLowerCase().includes(el.what[0].toLowerCase());
          let q2 = $scope.curLigF.find((cur) => cur.what.toLowerCase() == el.what[0].toLowerCase());
          // if ($scope.str.toUpperCase().includes(el.what)) $scope.curLig.push({ what: el.what[0].toUpperCase(), with: el.with, fix: false });
          if (q1) {
            // if (q2)  {}
            $scope.curLigF.push({
              what: el.what[0].toLowerCase(),
              with: el.with[1].toLowerCase(),
              fix: true,
              arr: el.with
            });
          }

        });

        // $scope.curLigF = $scope.curLigF.filter(onlyUnique);
        $scope.curLigF.map(function(LigF) {
          // if (!$scope.curArr.find((el) => el.what.toLowerCase() === LigF.what.toLowerCase()))  $scope.curArr.push(LigF);
        });
        $scope.curArr = $scope.curLigF.concat($scope.curArr);
        $scope.curArr = uniqWhat($scope.curArr);

      });

      $scope.replaceIt = function(str, rand = 0) {

        $scope.AllchArr = $scope.ligArr.concat($scope.chArr);

        let lastrnd = $scope.chArr[$scope.chArr.length - 1].with;
        rand = RND(lastrnd.length);
        if (str == "") str = $scope.str = lastrnd[rand].toLowerCase();

        $scope.curArr.map(function(cur) {

          let randsymb = cur.what;
          let charrow = $scope.AllchArr.find((el) => el.what.includes(cur.what.toLowerCase()));

          if (charrow) rand = RND(charrow.with.length);
          if (charrow) randsymb = charrow.with[rand].toLowerCase();

          if (cur.fix != true) cur.with = randsymb;
          str = str.toLowerCase().replaceAll(cur?.what.toLowerCase(), cur?.with.toLowerCase());

        });

        return str;
      }



      $(document).ready(function() {
        var pipsSlider = document.getElementById('slider');

        $scope.noUiSlider = noUiSlider.create(pipsSlider, {
          range: {
            min: 9,
            max: 72
          },
          start: [$scope.fs],
          pips: {
            mode: 'count',
            values: 10
          },
          tooltips: false
        });

        $scope.noUiSlider.on('change', function(values, handle) {
          $scope.fs = values[handle];
          pipsSlider.noUiSlider.set($scope.fs);
          $scope.$apply();

        });
        $scope.$watch('fs', function() {

        });

        var pips = pipsSlider.querySelectorAll('.noUi-value');

        function clickOnPip() {
          var value = Number(this.getAttribute('data-value'));
          pipsSlider.noUiSlider.set(value);
          $scope.fs = value;
          $scope.$apply();
        }

        for (var i = 0; i < pips.length; i++) { // For this example. Do this in CSS!
          pips[i].style.font = i * 8 + 'px';
          pips[i].style.cursor = 'pointer';
          pips[i].addEventListener('click', clickOnPip);
        }


      });

      $.fn.wrapInTag = function(opts) {
        var tag = opts.tag || 'strong',
          words = opts.words || [],
          regex = RegExp(words.join('|'), 'gi'),
          replacement = '<' + tag + '>$&</' + tag + '>';

        return this.html(function() {
          return $(this).text().replace(regex, replacement);
        });
      };

      $scope.boldIt = function() {
        let words = $scope.chArr[0]?.what;
        $("#ERE").empty();
        $("#HERE").clone().prependTo("#ERE");
        $('#ERE').wrapInTag({
          tag: 'b',
          words: words
        });
      }

      $scope.$watch('finstr', function() {
        setTimeout($scope.boldIt, 220);
        // $scope.$apply();
      });


      $scope.masonIt = function() {



        var go = function() {

          $('.grid').masonry({
            // options
            itemSelector: '.grid-item',
            columnWidth: $scope.dw + 10
          });
        }

        setTimeout(go, 1200);
      }

    });

  </script>

</html>
